body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}
section{
    border: 1px solid red;
    padding: 20px 50px;
    text-align: center;
    border-radius: 20px;
    
}
.search-bar{
    width: 100%;
    display: flex;
    position: relative;
    
}
.search-bar input{
    padding: 10px 30px;
    width: 65%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 1px solid black;
}
/* .search-bar input::placeholder{
    margin-left: 20px;
} */
.search-bar button{
    width: 30%;
    padding: 10px 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
    /* display: flex;
    align-items: center; */
}
.search-bar i:first-child{
    position: absolute;
    top: 10px;
    margin-left: 10px;
}
.search-bar i:last-child{
    margin-left: -15px;
    margin-top: 2px;

}
.result{
    display: flex;
    gap: 10px;
    /* width: 100%; */
    justify-content: space-between;
    border: 1px solid black;
    margin: 20px 0;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    font-weight: bold;
}
/* .stop{
    display: flex;
    gap: 300px;
    border: 1px solid red;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin-top: 20px;  
    /* width: 100%;  */
    color: red;
    justify-content: space-between;
}
.stop i{
    position: absolute;
    top: 13px;
    left: 5px;
    right: 0;
} */